# Copyright Todd Agriscience, Inc. All rights reserved.
# Copy this file to .env.local for local development

NODE_ENV=development

# Supabase authentication
NEXT_PUBLIC_SUPABASE_PROJECT_ID="pexzjinboynpudrgsbve"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_88XRibYZf0_4dVYVZ2eC7Q_nnH2l33e"

# Database URL
DATABASE_URL="postgresql://postgres:Test123!@localhost:5432/postgres"

# For local databases ONLY.
NODE_TLS_REJECT_UNAUTHORIZED='0'
