name: Security

on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']

jobs:
  security:
    name: Security Audit
    runs-on: ubuntu-latest
    defaults:
        run:
            working-directory: ./frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 'latest'

      - name: CD into frontend
        run: cd ./frontend

      - name: Install dependencies
        run: bun ci

      - name: Check for security vulnerabilities
        run: bun audit --audit-level=high
