name: Testing

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    defaults:
        run:
            working-directory: ./frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 'latest'

      - name: Install dependencies
        run: bun i

      - name: Run unit tests
        run: bun run test

      - name: Upload test coverage
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage/lcov.info
          fail_ci_if_error: false
